css
es6-collections.js
fonts
FormData.js
images
jquery
jquery.js
js
knockoutjs
mage
Magento_Captcha
Magento_Catalog
Magento_Checkout
Magento_Cookie
Magento_Customer
Magento_Msrp
Magento_PageCache
Magento_Search
Magento_Swatches
Magento_Tax
Magento_Theme
Magento_Translation
Magento_Ui
matchMedia.js
MutationObserver.js
prototype
requirejs
underscore.js
